#!/bin/bash

# Wait for postgres
until pg_isready -h {{ networks.cluster.some.address }} -p {{ containers.cluster.postgres.external_port }}; do
  echo "$(date +%Y%m%dt%H%M%S) Postgres is unavailable - sleeping"
  sleep 5
done  
echo "$(date +%Y%m%dt%H%M%S) Postgres is available - starting Grafana"
# Start Grafana
chown -R grafana:grafana /opt/grafana
chown -R root:grafana /etc/grafana
service grafana-server start
echo "Grafana is started - attaching to log."
echo ""
# Endlessly output the grafana log
tail -f /var/log/grafana/grafana.log
