apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: {{ containers.cluster.grafana.datasource_uid }}
    isDefault: true
    # Access mode - proxy (server in the UI) or direct (browser in the UI).
    url: http://{{ networks.cluster.some.address }}:9090
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 3.1.0
      cacheLevel: 'High'
      disableRecordingRules: false
      incrementalQueryOverlapWindow: 10m
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    uid: ae8w4ehky12wke
    url: http://{{ networks.cluster.some.address }}:8099
    jsonData:
      httpMethod: POST
      manageAlerts: true
      cacheLevel: 'High'
