secrets:
{# ALPHABETICALY ITERATE OVER ALL SECRETS AVAILABLE #}
{% for secret in docker_compose.secrets %}
  {{ secret.name }}:
{# FILE #}
{% if secret.file is defined %}
    file: "{{ secret.file }}"
{% endif %}
{# ENVIRONMENT #}
{% if secret.environment is defined %}
    environment: "{{ secret.environment }}"
{% endif %}
{# END THE SECRET LOOP FROM LINE 3 #}
{% endfor %}
