---
{# TEMPLATE SERVICES IF WE HAVE TO #}
{% if docker_compose_services is defined %}
{% if docker_compose_services | length > 0 %}
{% include 'docker-compose_services.yml.j2' %}
{% endif %}{% endif %}
{# CHECK IF WE HAVE CONFIGS #}
{% if docker_compose_configs is defined %}
{% if docker_compose_configs | length > 0 %}

{% include 'docker-compose_configs.yml.j2' %}
{% endif %}{% endif %}
{# CHECK IF WE HAVE NETWORKS #}
{% if docker_compose_networks is defined %}
{% if docker_compose_networks | length > 0 %}

{% include 'docker-compose_networks.yml.j2' %}
{% endif %}{% endif %}
{# CHECK IF WE HAVE SECRETS #}
{% if docker_compose_secrets is defined %}
{% if docker_compose_secrets | length > 0 %}

{% include 'docker-compose_secrets.yml.j2' %}
{% endif %}{% endif %}
{# CHECK IF WE HAVE VOLUMES #}
{% if docker_compose_volumes is defined %}
{% if docker_compose_volumes | length > 0 %}

{% include 'docker-compose_volumes.yml.j2' %}
{% endif %}{% endif %}
...
